html
{
	box-sizing: border-box;
}
*, *:before, *:after
{
	box-sizing: inherit;
}
body
{
	margin: 0;
	padding: 0;
	background-color: #000;
	color: #fff;
	font-family: sans-serif;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
main
{
	flex: 1;
	text-align: center;
}
custom-icon
{
	height: 100%;
}
button
{
	display: flex;
	align-items: center;
	font-weight: bold;
	justify-content: space-between;
	margin: 1.5em auto;
	padding: 0.8em;
	background-color: #60c;
	border-radius: 0.5em;
	color: #fff;
	border: 0;
}
button > svg,
button > span
{
	width: 1em;
}
button > svg > path
{
	fill: none;
	stroke: #fff;
	stroke-width: 1.5;
}
button > svg > circle
{
	fill: #fff;
}
.hidden
{
	display: none;
}