html
{
	box-sizing: border-box;
}
*, *:before, *:after
{
	box-sizing: inherit;
}
body
{
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #fff;
	font-family: sans-serif;
}
html,
body,
#app
{
	height: 100%;
}
#app
{
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
main,
header,
footer
{
	display: flex;
	align-items: center;
	justify-content: center;
}
header,
footer
{
	height: 5em;
}
main
{
	flex: 1;
}
button
{
	display: flex;
	align-items: center;
	font-weight: bold;
	justify-content: space-between;
	padding: 0.8em;
	background-color: #60c;
	border-radius: 0.5em;
	color: #fff;
	border: 0;
}
button > svg,
button > span
{
	width: 1em;
}
button > svg > path
{
	fill: none;
	stroke: #fff;
	stroke-width: 1.5;
}
button > svg > circle
{
	fill: #fff;
}
@media (orientation: portrait)
{
	custom-icon
	{
		width: 100%;
	}
}
@media (orientation: landscape)
{
	custom-icon
	{
		height: 100%;
	}
}