html
{
	box-sizing: border-box;
}
*, *:before, *:after
{
	box-sizing: inherit;
}
body
{
	margin: 0;
	padding: 0;
	background-color: #000;
	color: #fff;
	font-family: sans-serif;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
#app
{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
custom-icon
{
	width: 80vmin;
}
#share,
#install
{
	position: fixed;
	width: 100%;
}
#share
{
	top: 1.5em;
}
#install
{
	bottom: 1.5em;
}
#share > button,
#install > button
{
	display: flex;
	align-items: center;
	font-weight: bold;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0.8em;
	background-color: #60c;
	border-radius: 0.5em;
	color: #fff;
	border: 0;
}
#share > button > svg,
#share > button > span,
#install > button > svg,
#install > button > span
{
	width: 1em;
}
#share > button > svg > path,
#install > button > svg > path
{
	fill: none;
	stroke: #fff;
	stroke-width: 1.5;
}
#share > button > svg > circle
{
	fill: #fff;
}
.hidden
{
	display: none;
}