html
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #000;
	color: #fff;
	font-family: sans-serif;
}
*, *:before, *:after
{
	box-sizing: inherit;
	margin: inherit;
	padding: inherit;
	background-color: inherit;
	color: inherit;
}
body
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
custom-icon
{
	width: 80vmin;
}